<!-- /views/five_four.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>Dice Roll</title>
</head>

<body>


<h1>5d4</h1>
   <p><%= @outcome3 %></p>
   <h1><a href="/">Home</a></h1>
   <h1><a href="/dice/5/4">Refresh</a></h1>
</body>
</html>
