<!-- /views/two_six.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>Dice Roll</title>
</head>

<body>
<h1>2d6</h1>
   <p><%= @outcome %></p>
   <h1><a href="/">Home</a></h1>
   <h1><a href="/dice/2/6">Refresh</a></h1>
</body>
</html>
